*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    .navbar {
      background-color: black;
      overflow: hidden;
      padding: 10px 20px;
    }

    .navbar a {
      float:left;
      color: white;
      text-align: center;
      padding: 12px 16px;
      text-decoration: none;
      font-size: 17px;
      transition: background-color 0.3s;
      display: flex;
      justify-content: space-between;
      margin-left: 6rem;
    
    }

    .navbar a.logo {
      font-weight: bold;
      font-size: 25px;
      animation: agypechy 5s linear infinite;
    }
    @keyframes agypechy{
        from{padding-left: 33px;}
        to{padding-right: 33px;}
    }

    .navbar a:hover {
      background-color: chocolate;
    }
    
   .content{
    text-transform:uppercase;
    padding-left: 12rem;
    padding-top:1rem ;
    font-weight: bold;
    padding-bottom: 3rem;
   }
   .content h3{
    padding-top: 8rem;
    font-size: 19px;
   }
.content h1{
    word: spacing 2px;;
}
.content.button1{
    background-color:yellowgreen;
    color: wheat;
    transition:background color 2s;
    border-radius: 5px;
}
.content.button1:hover{
    background-color: blue;
}
.bgimage{
    background-image: url(computer\ 2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container, .content-wrap {
  width: 100%;
}
.bgimage img {
  width: 100%;
}
.content-wrap {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;

}
.select{
  margin-bottom: 4rem;
}