*body{
    padding: 0;
    margin: 0;
}
.navbar{
    width: 100vw;
    height: 60px;
    background-color:darkgray;
    display: flex;
    justify-items: center;
    list-style: none;
}
.about li{
    color: black;
    display: flex;
    justify-items: center;
    justify-content: space-between;
}
li{
    list-style: none;
}
.navbar ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    padding-left: 15rem;
}
 

         