body {
  font-family: Arial, sans-serif;
}

.navbar {
  list-style-type: none;
  background-color: #333;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar > li {
  position: relative;
}

.navbar li a {
  display: block;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}

/* HIDE dropdown menu by default */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 160px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li a {
  padding: 12px 16px;
  display: block;
  color: white;
}

.dropdown-menu li a:hover {
  background-color: #222;
}
.para p{
  width: 30vw;
  height: 10vh;
  overflow:auto;
}