*{
padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:grey
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    background-image: linear-gradient (to left bottom, #fff 80%, #c3f5ff 20%);
}
.navbar-section{
    justify-content:space-around;
    display: flex;
    flex-wrap: wrap;     
    
}
.logo h1 {
    margin-right:84rem;
    margin-top:1.6rem;
    width: 22%;
    background-image: linear-gradient(#8d98e3, #854fee);
    text-transform: uppercase;
    animation: agepichy 5s linear infinite;
    animation-direction: alternate;
    
}
@keyframes agepichy{
    from{ padding-left: 50px;}
    to{ padding-right: 50px;}
}
.navbar{
    width:72%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    text-transform: capitalize;
    color:#000;
    margin-left: 12rem;
    
}
.navbar a{
    text-decoration: none;
    position: relative;
    first-child {
        color: blue};
}
main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.rightside {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    background-color: #8d98e3;
    background-size: 300px;
}
.rightside img{
    max-width:200px;
    height: auto;

}
.leftside{
    color: #000;
    text-transform: uppercase ;
    margin-top: 100px;
}
.leftside h3{
    font-size: 20px;
    margin-bottom:40px ;
    margin-top: 50px;
}
.leftside h3:after{
    content: "";
    width: 300px;
    height: 3px;
    position: absolute;
    top: 30%;
    left:23%;
    background-color: #000;
}
.leftside h1 {
    font-size: 35px;
}
.leftside h2 {
    padding-top: 36px;
    font-size:18px ;
    padding-top: 30%;
font-weight: bold;
}
/* .leftside a {
margin-left: 20px;
} */
 .leftside a {
      display: inline-block;
      margin-top: 35px;
      padding: 12px 24px;
      background-color: #007BFF; /* Bootstrap blue */
      color: white;
      text-decoration: none;
      border-radius: 6px;
      font-size: 16px;
      font-weight: bold;
      transition: background-color 0.3s ease;
    }
    /* .leftside.a:hover {
        border: 2px solid pink;
        color: #fff;
        background-color: aqua;
        background-image: none;
        box-shadow: none;
    } */
     .leftside a:hover {
      background-color: #0056b3;
      color: #000;
    }

@media(max-width:998px){
    html {
        font-size: 55%;
    }
}
@media(max-width:768px){
    html{
        font-size: 45%;
    }
}

