* body{
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: aquamarine;
    margin-top: 10rem;
    /* background-image: url(linwood.jpg); */
    width:100%;
position: fixed;
}
.wrapper1{
width:300px;
height: 300px;
/* background-color: bisque; */
padding-left:  6rem; 
justify-items: center;


}
.input-box{
    width: 100%;
    height: 50px;
}


.input-box 
.remember-forget{
    padding-top: 1rem;
}
.remember-forget input{
    size: 7px;
}
.remember-forget label{
    font-size: 12px;
}
.remember-forget a{
    font-size: 12px;
    margin-left: 1rem;
    text-decoration: none;
}
.remember-forget button{
    margin-right: 5rem;
    margin-top: 0.6rem;
}
.register-link{
    justify-content: space-between;
}
.register-link p{
    font-size: 12px;
}
.register-link a{
    margin-left:1rem;
    text-decoration: none;
}
.navbar img{
    
    display: flex;
    height: 40px;
    width: 40px;
    padding-right:40rem;
}
.navbar h3{
    font-weight: 100;
    display: flex;
    padding-right: 25rem;
    justify-content: center;
    padding-top: 0;
}